Importing required libraries

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
import random
warnings.filterwarnings("ignore", category=FutureWarning)
from scipy.sparse import csr_matrix
import os
warnings.simplefilter(action = 'ignore', category=FutureWarning)
warnings.filterwarnings('ignore')
def ignore_warn(*args, **kwargs):
    pass
warnings.warn = ignore_warn
from datetime import date
import time
import matplotlib.pyplot as plt; plt.rcdefaults()
from sklearn.model_selection import train_test_split
from scipy.sparse import coo_matrix
import math as mt
from scipy.sparse.linalg import *
from scipy.sparse.linalg import svds
from scipy.sparse import csc_matrix
from scipy.stats import skew, norm, probplot

Taking Age and Gender from User

In [5]:
date_components = input('Enter a date formatted as DD MM YYYY: ').split(' ')

year, month, day = [int(item) for item in date_components]

d = date(day,month,year)
today = date.today()
age=today.year-d.year

print(age)

21

In [6]:
#gender input
gen=input("your gender :")
#gen='female'
gen=gen.lower()
print(gen)

male

Importing Datasets

In [7]:
#Read userid-songid-lstn_count
user_song_itrx = pd.read_csv('10000.txt',sep='\t', header=None)
user_song_itrx.columns = ['user_id', 'song_id', 'lstn_count']
user_song_itrx.head()

                                    user_id             song_id  lstn_count
0  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOAKIMP12A8C130995           1
1  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBBMDR12A8C13253B           2
2  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBXHDL12A81C204C0           1
3  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBYHAJ12A6701BF1D           1
4  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SODACBL12A8C13C273           1

In [61]:
user_song_itrx.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2000000 entries, 0 to 1999999
Data columns (total 5 columns):
 #   Column      Dtype
---  ------      -----
 0   user_id     object
 1   song_id     object
 2   lstn_count  int64
 3   Gender      object
 4   Age         int32
dtypes: int32(1), int64(1), object(3)
memory usage: 83.9+ MB

In [62]:
user_song_itrx.shape

(2000000, 5)

In [8]:
#Read song  metadata
song_data =  pd.read_csv('song_data.csv')
song_data.drop_duplicates(['song_id'], inplace=True)
song_data.head()

,song_id,title,release,artist_name,year
0,SOQMMHC12AB0180CB8,Silent Night,Monster Ballads X-Mas,Faster Pussy cat,2003
1,SOVFVAK12A8C1350D9,Tanssi vaan,Karkuteillä,Karkkiautomaatti,1995
2,SOGTUKN12AB017F4F1,No One Could Ever,Butter,Hudson Mohawke,2006
3,SOBNYVR12A8C13558C,Si Vos Querés,De Culo,Yerba Brava,2003
4,SOHSBXH12A8C13B0DF,Tangle Of Aspens,Rene Ablaze Presents Winter Sessions,Der Mystic,0

In [60]:
song_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 999056 entries, 0 to 999999
Data columns (total 5 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   song_id      999056 non-null  object
 1   title        999041 non-null  object
 2   release      999051 non-null  object
 3   artist_name  999056 non-null  object
 4   year         999056 non-null  int64
dtypes: int64(1), object(4)
memory usage: 45.7+ MB

In [9]:
song_data.shape

(999056, 5)

In [10]:
#Merge the two dataframes
songs = pd.merge(user_song_itrx, song_data, on="song_id", how="left")
songs.head()

,user_id,song_id,lstn_count,title,release,artist_name,year
0,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SOAKIMP12A8C130995,1,The Cove,Thicker Than Water,Jack Johnson,0
1,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SOBBMDR12A8C13253B,2,Entre Dos Aguas,Flamenco Para Niños,Paco De Lucia,1976
2,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SOBXHDL12A81C204C0,1,Stronger,Graduation,Kanye West,2007
3,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SOBYHAJ12A6701BF1D,1,Constellations,In Between Dreams,Jack Johnson,2005
4,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SODACBL12A8C13C273,1,Learn To Fly,There Is Nothing Left To Lose,Foo Fighters,1999

Collecting all Users

In [58]:
a=pd.DataFrame(user_song_itrx.user_id)
a=a.drop_duplicates('user_id')
a.head()

                                     user_id
0   b80344d063b5ccb3212f76538f3d9e43d87dca9e
45  85c1f87fea955d09b4bec2e36aee110927aedf9a
46  bd4c6e843f00bd476847fb75c47b4fb430a06856
54  8937134734f869debcab8f23d77465b4caaa85df
56  969cc6fb74e076a68e36a04409cb9d3765757508

Generating random genders and age for users

In [12]:
mylist = ["male", "female"]
m=[]

for i in range(a.shape):

    h=np.random.choice(mylist)
    m.append(h)

In [13]:

a['Gender']=m
a['Age']=np.random.randint(15,50, size=a.shape[0])

a.head()

                                     user_id  Gender  Age
0   b80344d063b5ccb3212f76538f3d9e43d87dca9e  female   31
45  85c1f87fea955d09b4bec2e36aee110927aedf9a    male   28
46  bd4c6e843f00bd476847fb75c47b4fb430a06856  female   48
54  8937134734f869debcab8f23d77465b4caaa85df  female   40
56  969cc6fb74e076a68e36a04409cb9d3765757508  female   32

In [14]:
user_song_itrx=pd.merge(user_song_itrx,a, on =('user_id'), how = "inner")
user_song_itrx.sample(5)

,user_id,song_id,lstn_count,Gender,Age
1001763,e227d7e72ee4d5596b4d09578690b8d38af668bd,SOBBNDM12A58A78370,1,female,42
1003752,f0d7922d39c6ba23d7c59aed424e63040a7b22ea,SONKFWL12A6D4F93FE,3,female,22
1966297,484987622446f80b04fa4b3a895b53d82e00ea74,SOSQIHH12A8C13370B,3,male,21
1255742,2abd38446f6d35b72b1c1f52207eda925fecc745,SOQULRR12A8C1374D6,1,male,23
1378803,1490699103e4a4a630b289f8020b360ce1dcef1c,SOYPWKK12A8C136494,2,male,31

Picking a random User similar to us

In [15]:
df_select = a[(a.Gender == gen) & (a.Age == age)]
lent=len(df_select)
print(lent)

1122

In [16]:
sed=np.random.randint(lent)
yd=df_select.iloc[sed]
yd=pd.DataFrame(yd)
yd

                                          1828390
user_id  7b9f815c037f46f8042fbefffc4738f53f0769b2
Gender                                       male
Age                                            21

In [17]:
p=yd.columns
p=p[0]
p

1828390

Importing Songs dataset

In [18]:
songs.to_csv('songs.csv', index=False)
df_all_songs = pd.read_csv('songs.csv')
df_all_songs.head()

,user_id,song_id,lstn_count,title,release,artist_name,year
0,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SOAKIMP12A8C130995,1,The Cove,Thicker Than Water,Jack Johnson,0
1,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SOBBMDR12A8C13253B,2,Entre Dos Aguas,Flamenco Para Niños,Paco De Lucia,1976
2,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SOBXHDL12A81C204C0,1,Stronger,Graduation,Kanye West,2007
3,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SOBYHAJ12A6701BF1D,1,Constellations,In Between Dreams,Jack Johnson,2005
4,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SODACBL12A8C13C273,1,Learn To Fly,There Is Nothing Left To Lose,Foo Fighters,1999

In [59]:
songs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2000000 entries, 0 to 1999999
Data columns (total 7 columns):
 #   Column       Dtype
---  ------       -----
 0   user_id      object
 1   song_id      object
 2   lstn_count   int64
 3   title        object
 4   release      object
 5   artist_name  object
 6   year         int64
dtypes: int64(2), object(5)
memory usage: 122.1+ MB

In [19]:
songs.shape

(2000000, 7)

Taking users who have heard more than 16 songs

In [20]:
#number of songs each user has lstned
song_user = songs.groupby('user_id')['song_id'].count()
song_user.sample(5)

user_id
692ad3aed187a79cd7e224b47a33febda5dca50a     9
a6c93a080c4d116ade392b07baa7f5896d6a6278     8
069a0e013fd6bc97a11a23a4cd3c03b6116247ce    21
b710e53e0543e2cce7ec519d21dae5dc364a2a57    39
8f64ba96dc8fa3d5b24fd7497637e7cc857ab649     5
Name: song_id, dtype: int64

In [21]:
#users which have lstn to at least 16 songs
song_ten_id = song_user[song_user > 16].index.to_list()

#keep only those users with more than 16 lstned
df_song_id_more_ten = songs[songs['user_id'].isin(song_ten_id)].reset_index(drop=True)
df_song_id_more_ten.head()

,user_id,song_id,lstn_count,title,release,artist_name,year
0,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SOAKIMP12A8C130995,1,The Cove,Thicker Than Water,Jack Johnson,0
1,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SOBBMDR12A8C13253B,2,Entre Dos Aguas,Flamenco Para Niños,Paco De Lucia,1976
2,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SOBXHDL12A81C204C0,1,Stronger,Graduation,Kanye West,2007
3,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SOBYHAJ12A6701BF1D,1,Constellations,In Between Dreams,Jack Johnson,2005
4,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SODACBL12A8C13C273,1,Learn To Fly,There Is Nothing Left To Lose,Foo Fighters,1999

In [22]:
df_song_id_more_ten['user_id'].nunique()

36561

In [23]:
df_song_id_more_ten['song_id'].nunique()

10000

Creating a matrix for the selected user

In [24]:
#dataframe into a pivot table
df_all_songs_features = df_song_id_more_ten.pivot(index='song_id', columns='user_id', values='lstn_count').fillna(0)
df_all_songs_features.head()

user_id,000e2c2a8c7870ff9121f212b35c8b3a20cc0e67,000ebc858861aca26bac9b49f650ed424cf882fc,000ef25cc955ad5841c915d269432eea41f4a1a5,0012bf75d43a724f62dc746d9e85ae0088a3a1d6,001322829b5dc3edc59bf78189617ddd8f23c82a,00185e316f07f0f00c325ca034be59c15b362401,0019740e3e8c24e223a6f88e3faa7c144ec5a014,001b005fe5e80d3cb45f320f5658fc8e2e72794e,001f22c638730aed5659034c447d3cf0e658898e,0021d9a4628624f6d70237f9c200ab82e766bf26,...,fff300cd094fe04030b79fae550dc9d065190182,fff4676dacb2e9a7217702f62ee70e88aa512ecc,fff4e1a7dacbe9c13051c08f09bf66d76cbee35e,fff543db7918cb8f4f56f7470903eb2f1d5a6dd8,fff6c30c773e6ffafcac213c9afd9666afaf6d63,fffb701ee87a32eff67eb040ed59146121f01571,fffc0df75a48d823ad5abfaf2a1ee61eb1e3302c,fffce9c1537fbc350ea68823d956eaa8f5236dbe,fffd9635b33f412de8ed02e44e6564e3644cf3c6,fffea3d509760c984e7d40789804c0e5e289cc86
song_id,,,,,,,,,,,,,,,,,,,,,
SOAAAGQ12A8C1420C8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
SOAACPJ12A81C21360,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
SOAACSG12AB018DC80,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
SOAAEJI12AB0188AB5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
SOAAFAC12A67ADF7EB,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [25]:
#sparse matrix
mat_songs_features = csr_matrix(df_all_songs_features.values)
mat_songs_features.toarray()

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [26]:
mat_songs_features.shape

(10000, 36561)

In [27]:
# No of unique songs - SVD
unique_track_metadata_df=song_data.groupby('song_id').max().reset_index()
unique_track_metadata_df.head()

,song_id,title,release,artist_name,year
0,SOAAABI12A8C13615F,Afro Jazziac,To Birdland And Hurry,Herbie Mann,2000
1,SOAAABT12AC46860F0,Herre Gud Ditt Dyre Namn Og Ære,Som Den Gyldne Sol Frembryter,Bergen Big Band,0
2,SOAAABX12A8C13FEB2,N.Y.C. Remix,Paris Can´t Wait,Guardner,0
3,SOAAACR12A58A79456,Irresistible,Wowie Zowie,Superchumbo,2002
4,SOAAACY12A58A79663,Untitled 1,Pine Cone Temples,Thuja,0

In [28]:
unique_track_metadata_df.shape

(999056, 5)

Merging user data and song data

In [29]:
user_song_itrx.head()

,user_id,song_id,lstn_count,Gender,Age
0,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SOAKIMP12A8C130995,1,female,31
1,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SOBBMDR12A8C13253B,2,female,31
2,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SOBXHDL12A81C204C0,1,female,31
3,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SOBYHAJ12A6701BF1D,1,female,31
4,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SODACBL12A8C13C273,1,female,31

In [30]:
# Dataset generation - SVD
user_song_list_count = pd.merge(user_song_itrx, 
                                unique_track_metadata_df, how='left',on='song_id')
user_song_list_count.rename(columns={'play_count':'lstn_count'},inplace=True)
user_song_list_count.head()

,user_id,song_id,lstn_count,Gender,Age,title,release,artist_name,year
0,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SOAKIMP12A8C130995,1,female,31,The Cove,Thicker Than Water,Jack Johnson,0
1,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SOBBMDR12A8C13253B,2,female,31,Entre Dos Aguas,Flamenco Para Niños,Paco De Lucia,1976
2,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SOBXHDL12A81C204C0,1,female,31,Stronger,Graduation,Kanye West,2007
3,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SOBYHAJ12A6701BF1D,1,female,31,Constellations,In Between Dreams,Jack Johnson,2005
4,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SODACBL12A8C13C273,1,female,31,Learn To Fly,There Is Nothing Left To Lose,Foo Fighters,1999

Ratio of the song that the user has listened to the total amount of songs listended

In [31]:
# Generation of fractional count - SVD
user_song_list_lstn =user_song_list_count[['user_id','lstn_count']].groupby('user_id').sum().reset_index()
user_song_list_lstn.rename(columns={'lstn_count':'total_lstn_count'},inplace=True)
user_song_list_lstn.head()

                                    user_id  total_lstn_count
0  00003a4459f33b92906be11abe0e93efc423c0ff                17
1  00005c6177188f12fb5e2e82cdbd93e8a3f35e64                 6
2  00030033e3a2f904a48ec1dd53019c9969b6ef1f                24
3  0007235c769e610e3d339a17818a5708e41008d9                30
4  0007c0e74728ca9ef0fe4eb7f75732e8026a278b                10

In [32]:
user_song_list_count_mrgd = pd.merge(user_song_list_count,user_song_list_lstn)
user_song_list_count_mrgd['fractional_play_count'] = \
    user_song_list_count_mrgd['lstn_count']/user_song_list_count_mrgd['total_lstn_count']
user_song_list_count_mrgd.head()

,user_id,song_id,lstn_count,Gender,Age,title,release,artist_name,year,total_lstn_count,fractional_play_count
0,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SOAKIMP12A8C130995,1,female,31,The Cove,Thicker Than Water,Jack Johnson,0,71,0.014085
1,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SOBBMDR12A8C13253B,2,female,31,Entre Dos Aguas,Flamenco Para Niños,Paco De Lucia,1976,71,0.028169
2,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SOBXHDL12A81C204C0,1,female,31,Stronger,Graduation,Kanye West,2007,71,0.014085
3,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SOBYHAJ12A6701BF1D,1,female,31,Constellations,In Between Dreams,Jack Johnson,2005,71,0.014085
4,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SODACBL12A8C13C273,1,female,31,Learn To Fly,There Is Nothing Left To Lose,Foo Fighters,1999,71,0.014085

Preparing data for SVD

In [33]:
# index for unique data - SVD
user_codes = user_song_list_count_mrgd.user_id.drop_duplicates().reset_index()
user_codes.rename(columns={'index':'user_index'}, inplace=True)
user_codes['us_index_value'] = list(user_codes.index)
user_codes.head()

   user_index                                   user_id  us_index_value
0           0  b80344d063b5ccb3212f76538f3d9e43d87dca9e               0
1          45  85c1f87fea955d09b4bec2e36aee110927aedf9a               1
2          46  bd4c6e843f00bd476847fb75c47b4fb430a06856               2
3          54  8937134734f869debcab8f23d77465b4caaa85df               3
4          56  969cc6fb74e076a68e36a04409cb9d3765757508               4

In [34]:
song_codes = user_song_list_count_mrgd.song_id.drop_duplicates().reset_index()
song_codes.rename(columns={'index':'song_index'}, inplace=True)
song_codes['so_index_value'] = list(song_codes.index)
song_codes.head()

   song_index             song_id  so_index_value
0           0  SOAKIMP12A8C130995               0
1           1  SOBBMDR12A8C13253B               1
2           2  SOBXHDL12A81C204C0               2
3           3  SOBYHAJ12A6701BF1D               3
4           4  SODACBL12A8C13C273               4

In [40]:
small_set = pd.merge(user_song_list_count_mrgd,song_codes,how='left')
small_set = pd.merge(small_set,user_codes,how='left')
mat_candidate = small_set[['us_index_value','so_index_value','fractional_play_count']]
li=mat_candidate['us_index_value'][p]
mat_candidate.head()

   us_index_value  so_index_value  fractional_play_count
0               0               0               0.014085
1               0               1               0.028169
2               0               2               0.014085
3               0               3               0.014085
4               0               4               0.014085

In [45]:
# sparse matrix generation
data_array = mat_candidate.fractional_play_count.values
row_array = mat_candidate.us_index_value.values
col_array = mat_candidate.so_index_value.values

data_sparse = coo_matrix((data_array, (row_array, col_array)),dtype=float)
data_sparse.toarray()

array([[0.01408451, 0.02816901, 0.01408451, ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ]])

Model based on Similar Users

In [46]:

#Item similarity based Recommender
class item_rec_sys():
    def __init__(self):
        self.train_data = None
        self.user_id = None
        self.item_id = None
        self.coocc_matrix = None
        self.songs_dict = None
        self.rev_songs_dict = None
        self.item_similarity_rec = None
        
    #unique songs corresponding to a given user
    def get_usersongs(self, user):
        user_data = self.train_data[self.train_data[self.user_id] == user]
        user_items = list(user_data[self.item_id].unique())
        
        return user_items
        
    #unique users for a given song
    def get_songusers(self, item):
        item_data = self.train_data[self.train_data[self.item_id] == item]
        item_users = set(item_data[self.user_id].unique())
            
        return item_users
        
    #unique songs in the training data
    def get_uniquesong_traindata(self):
        all_items = list(self.train_data[self.item_id].unique())
            
        return all_items
        
    #cooccurence matrix
    def const_coocc_matrix(self, user_songs, all_songs):
            
        #users for all songs in user_songs.
        user_songs_users = []        
        for i in range(0, len(user_songs)):
            user_songs_users.append(self.get_songusers(user_songs[i]))
            
        #Initialize the item cooccurence matrix of size 
        coocc_matrix = np.matrix(np.zeros(shape=(len(user_songs), len(all_songs))), float)
           
        #Calculate similarity b/w user songs and all unique songs in the training data
        for i in range(0,len(all_songs)):
            #Calculate unique lstners (users) of song (item) i
            songs_i_data = self.train_data[self.train_data[self.item_id] == all_songs[i]]
            users_i = set(songs_i_data[self.user_id].unique())
            
            for j in range(0,len(user_songs)):       
                    
                #unique users of song j
                users_j = user_songs_users[j]
                    
                #intersection of lstners of songs i and j
                users_intersection = users_i.intersection(users_j)
                
                #coocc_matrix[i,j] as Jaccard Index
                if len(users_intersection) != 0:
                    #union of lstners of songs i and j
                    users_union = users_i.union(users_j)
                    
                    coocc_matrix[j,i] = float(len(users_intersection))/float(len(users_union))
                else:
                    coocc_matrix[j,i] = 0
                    
        
        return coocc_matrix

    
    #cooccurence matrix to make top rec
    def gen_top_rec(self, user, coocc_matrix, all_songs, user_songs):
        print("Non zero values in coocc_matrix :%d" % np.count_nonzero(coocc_matrix))
        
        #weighted average of the scores in cooccurence matrix for all user songs.
        user_sim_scores = coocc_matrix.sum(axis=0)/float(coocc_matrix.shape[0])
        user_sim_scores = np.array(user_sim_scores)[0].tolist()
 
        #Sort the indices of user_sim_scores based upon their value & maintain the corresponding score
        sort_index = sorted(((e,i) for i,e in enumerate(list(user_sim_scores))), reverse=True)
    
        #Create dataframe 
        columns = ['user_id', 'song', 'score', 'rank']
        df = pd.DataFrame(columns=columns)
         
        #dataframe with top 10 item based rec
        rank = 1 
        for i in range(0,len(sort_index)):
            if ~np.isnan(sort_index[i][0]) and all_songs[sort_index[i][1]] not in user_songs and rank <= 10:
                df.loc[len(df)]=[user,all_songs[sort_index[i][1]],sort_index[i][0],rank]
                
                rank = rank+1
        
        #case where there are no rec
        if df.shape[0] == 0:
            print("The current user has no songs for training the item similarity based recommendation model.")
            return -1
        else:
            return df
 
    #item similarity based rec sys model
    def create(self, train_data, user_id, item_id):
        self.train_data = train_data
        self.user_id = user_id
        self.item_id = item_id

    #item similarity based rec sys model to make rec
    def recommend(self, user):
        
        #A.unique songs for this user
        user_songs = self.get_usersongs(user)    
            
        #print("No. of unique songs for the user: %d" % len(user_songs))
        
        #B. unique songs in the training data
        all_songs = self.get_uniquesong_traindata()
        
       # print("no. of unique songs in the training set: %d" % len(all_songs))
         
        #C.cooccurence matrix of size 
        coocc_matrix = self.const_coocc_matrix(user_songs, all_songs)
        
        #D.cooccurence matrix to make rec
        df_rec = self.gen_top_rec(user, coocc_matrix, all_songs, user_songs)
                
        return df_rec
    
    #similar items to given items
    def get_sim_items(self, item_list):
        
        user_songs = item_list
        
        #B.unique items songs in the training data
        all_songs = self.get_uniquesong_traindata()
        
        #print("no. of unique songs in the training set: %d" % len(all_songs))
         
        #C.cooccurence matrix of size 
        coocc_matrix = self.const_coocc_matrix(user_songs, all_songs)
        
        #D.cooccurence matrix to make rec
        user = ""
        df_rec = self.gen_top_rec(user, coocc_matrix, all_songs, user_songs)
         
        return df_rec

In [47]:
ir = item_rec_sys()
ir.create(df_all_songs, 'user_id', 'title')
user_items = ir.get_usersongs(df_all_songs['user_id'][p])
x=ir.recommend(df_all_songs['user_id'][p])
mod_1=x[:4]
mod_1

Non zero values in coocc_matrix :582312

,user_id,song,score,rank
0,7b9f815c037f46f8042fbefffc4738f53f0769b2,A Rush Of Blood To The Head,0.024467,1
1,7b9f815c037f46f8042fbefffc4738f53f0769b2,Storm In A Teacup (Album Version),0.023399,2
2,7b9f815c037f46f8042fbefffc4738f53f0769b2,If (Album Version),0.022928,3
3,7b9f815c037f46f8042fbefffc4738f53f0769b2,Faust Arp,0.022631,4

In [48]:
mod_1=mod_1.rename({'song':'Song'}, axis='columns')

Recommendation based on Popularity

In [49]:
class pop_rec_sys():
    def __init__(self):
        self.train_data = None
        self.user_id = None
        self.item_id = None
        self.popularity_rec = None
        
    #popularity based recommender
    def create(self, train_data, user_id, item_id):
        self.train_data = train_data
        self.user_id = user_id
        self.item_id = item_id

        #count of user_ids for each unique song as recommendation score
        train_data_grouped = train_data.groupby([self.item_id]).agg({self.user_id: 'count'}).reset_index()
        train_data_grouped.rename(columns = {'user_id': 'score'},inplace=True)
    
        #Sort the songs based upon recommendation score
        train_data_sort = train_data_grouped.sort_values(['score', self.item_id], ascending = [0,1])
    
        #Generate a recommendation rank based upon score
        train_data_sort['Rank'] = train_data_sort['score'].rank(ascending=0, method='first')
        
        #top 10 rec
        self.popularity_rec = train_data_sort.head(10)

    #Use the popularity based rec sys model to
    #make rec
    def recommend(self, user_id):    
        user_rec = self.popularity_rec
        
        #Add user_id column for which the rec are being generated
        user_rec['user_id'] = user_id
    
        #Bring user_id column to the front
        cols = user_rec.columns.tolist()
        cols = cols[-1:] + cols[:-1]
        user_rec = user_rec[cols]
        
        return user_rec

In [50]:
pr = pop_rec_sys()
pr.create(df_all_songs, 'user_id', 'title')
y = pr.recommend(df_all_songs['user_id'][p])
mod_2=y[:4]
mod_2

,user_id,title,score,Rank
6836,7b9f815c037f46f8042fbefffc4738f53f0769b2,Sehr kosmisch,8277,1.0
8725,7b9f815c037f46f8042fbefffc4738f53f0769b2,Undo,7032,2.0
1964,7b9f815c037f46f8042fbefffc4738f53f0769b2,Dog Days Are Over (Radio Edit),6949,3.0
9496,7b9f815c037f46f8042fbefffc4738f53f0769b2,You're The One,6729,4.0

In [51]:
mod_2=mod_2.rename({'title':'Song'}, axis='columns')

Model Based on SVD

In [53]:
def calc_svd(urm, K):
    U, s, Vt = svds(urm, K)

    dim = (len(s), len(s))
    S = np.zeros(dim, dtype=np.float32)
    for i in range(0, len(s)):
        S[i,i] = mt.sqrt(s[i])

    U = csc_matrix(U, dtype=np.float32)
    S = csc_matrix(S, dtype=np.float32)
    Vt = csc_matrix(Vt, dtype=np.float32)
    
    return U, S, Vt
def calc_est_matrix(urm, U, S, Vt, uTest, K, test):
    rightTerm = S*Vt 
    max_recommendation = 250
    estimatedRatings = np.zeros(shape=(MAX_UID, MAX_PID), dtype=np.float16)
    recomendRatings = np.zeros(shape=(MAX_UID,max_recommendation ), dtype=np.float16)
    for userTest in uTest:
        prod = U[userTest, :]*rightTerm
        estimatedRatings[userTest, :] = prod.todense()
        recomendRatings[userTest, :] = (-estimatedRatings[userTest, :]).argsort()[:max_recommendation]
    return recomendRatings

def show_rec(uTest, num_recomendations = 10):
    d=[]
    e=[]
    for user_id in uTest:
        #print('-'*70)
        #print("Recommendation for user id {}".format(user_id))
        rank_value = 1
        i = 0
        while (rank_value <  num_recomendations + 1):
            so = uTest_recommended_items[user_id,i:i+1][0]
            if (small_set.user_id[(small_set.so_index_value == so) & (small_set.us_index_value == user_id)].count()==0):
                song_details = small_set[(small_set.so_index_value == so)].\
                    drop_duplicates('so_index_value')[['title','artist_name']]
                
                #print("The number {} recommended song is {} BY {}".format(rank_value, list(song_details['title'])[0],list(song_details['artist_name'])[0]))
                
                c=list(song_details['title'])[0]
                v=c
                d.append(v)
                e.append(rank_value)
                rank_value+=1
            i += 1
        
    return d,e

In [54]:
K=50
urm = data_sparse
MAX_PID = urm.shape[1]
MAX_UID = urm.shape[0]

U, S, Vt = calc_svd(urm, K)
uTest = [li]

uTest_recommended_items = calc_est_matrix(urm, U, S, Vt, uTest, K, True)

d,e=show_rec(uTest)

In [55]:
# Create DataFrame  
df = pd.DataFrame() 
df['Song'] = d
df['Rank']= e

mod_3=df[:4]
mod_3

                               Song  Rank
0                         Crossfire     1
1             Lucky (Album Version)     2
2                      Use Somebody     3
3  Pursuit Of Happiness (nightmare)     4

Combining 3 models

In [56]:
recc = pd.concat([mod_1,mod_2,mod_3])
rec_songs=recc['Song']

result=pd.DataFrame()
result['Songs']=rec_songs

result

                                  Songs
0           A Rush Of Blood To The Head
1     Storm In A Teacup (Album Version)
2                    If (Album Version)
3                             Faust Arp
6836                      Sehr kosmisch
8725                               Undo
1964     Dog Days Are Over (Radio Edit)
9496                     You're The One
0                             Crossfire
1                 Lucky (Album Version)
2                          Use Somebody
3      Pursuit Of Happiness (nightmare)